osvědčení-digitálního-úkonu/draft/schémata/osvědčení-digitálního-úkonu.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1" elementFormDefault="qualified" targetNamespace="http://dia.gov.cz/ns/osvedceni-digitalniho-ukonu" xmlns:osvědčení="http://dia.gov.cz/ns/osvedceni-digitalniho-ukonu" xmlns:osoby="http://dia.gov.cz/ns/spolecne-casti-elektronickych-dokumentu/osoby" xmlns:sawsdl="http://www.w3.org/ns/sawsdl">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
  <xs:import namespace="http://dia.gov.cz/ns/spolecne-casti-elektronickych-dokumentu/osoby" schemaLocation="https://ofn.gov.cz/společné-části-elektronických-dokumentů/2024-10-04/schémata/osoby/osoba-ve-vztahu-k-dokumentu.xsd"/>
  <xs:complexType name="langString">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="xml:lang" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="osvědčení">
    <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/12/2020/pojem/osvědčení-o-digitálním-úkonu">
      <xs:annotation>
        <xs:documentation xml:lang="cs">
          Osvědčení o digitálním úkonu - Osvědčení o digitálním úkonu obsahuje důvěryhodné zachycení obsahu digitálního úkonu nebo jinou identifikaci digitálního úkonu, určení osoby, která jej učinila, adresáta digitálního úkonu a způsob, datum a čas provedení digitálního úkonu. Osvědčení musí být opatřeno kvalifikovanou elektronickou pečetí a kvalifikovaným elektronickým časovým razítkem orgánu veřejné moci.
        </xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:sequence>
          <xs:element name="jid" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/generický/standard-pro-elektronické-dokumenty/pojem/řetězcová-podoba-jednoznačného-identifikátoru">
            <xs:annotation>
              <xs:documentation xml:lang="cs">
                řetězcová podoba jednoznačného identifikátoru
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:element name="číslo_jednací" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/generický/standard-pro-elektronické-dokumenty/pojem/číslo-jednací">
          <xs:annotation>
            <xs:documentation xml:lang="cs">
              číslo jednací
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="věc" type="osvědčení:langString" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/259/2012/pojem/má-stručný-obsah-dokumentu">
          <xs:annotation>
            <xs:documentation xml:lang="cs">
              stručný obsah dokumentu
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="provedení_digitálního_úkonu" type="xs:dateTimeStamp" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/12/2020/pojem/datum-a-čas-provedení-digitálního-úkonu">
          <xs:annotation>
            <xs:documentation xml:lang="cs">
              datum a čas provedení digitálního úkonu
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="vystavení_osvědčení" type="xs:dateTimeStamp" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/12/2020/pojem/datum-a-čas-vystavení-osvědčení">
          <xs:annotation>
            <xs:documentation xml:lang="cs">
              datum a čas vystavení osvědčení
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="autorizace" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/12/2020/pojem/kód-úspěšné-autorizace-digitálního-úkonu">
          <xs:annotation>
            <xs:documentation xml:lang="cs">
              kód úspěšné autorizace digitálního úkonu
            </xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="hash_podání" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/12/2020/pojem/hash-podání">
          <xs:annotation>
            <xs:documentation xml:lang="cs">
              hash podání
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="osvědčuje_digitální_úkon_provedený_podáním" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/12/2020/pojem/osvědčuje-digitální-úkon-provedený-podáním">
          <xs:annotation>
            <xs:documentation xml:lang="cs">
              osvědčuje digitální úkon provedený podáním
            </xs:documentation>
          </xs:annotation>
          <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/generický/standard-pro-elektronické-formuláře/pojem/dokument-vytvořený-elektronickým-formulářem">
            <xs:annotation>
              <xs:documentation xml:lang="cs">
                Dokument vytvořený elektronickým formulářem
              </xs:documentation>
            </xs:annotation>
            <xs:sequence>
              <xs:element name="odesílatel" type="osoby:osoba" sawsdl:modelReference="https://slovník.gov.cz/generický/standard-pro-elektronické-dokumenty/pojem/odesílatel">
                <xs:annotation>
                  <xs:documentation xml:lang="cs">
                    odesílatel
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="příjemce" type="osoby:osoba" sawsdl:modelReference="https://slovník.gov.cz/generický/standard-pro-elektronické-dokumenty/pojem/příjemce">
                <xs:annotation>
                  <xs:documentation xml:lang="cs">
                    příjemce
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="uživatel_služby" type="osoby:osoba" sawsdl:modelReference="https://slovník.gov.cz/generický/standard-pro-elektronické-formuláře/pojem/uživatel-služby">
                <xs:annotation>
                  <xs:documentation xml:lang="cs">
                    uživatel služby
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="použité_zastupování" sawsdl:modelReference="https://slovník.gov.cz/generický/standard-pro-elektronické-formuláře/pojem/použité-oprávnění-k-zastupování">
                <xs:annotation>
                  <xs:documentation xml:lang="cs">
                    použité oprávnění k zastupování
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/oprávnění-k-zastupování">
                  <xs:annotation>
                    <xs:documentation xml:lang="cs">
                      Oprávnění k zastupování - Referenčními údaji o právech a povinnostech osob jsou dále údaje o některých právech fyzických a právnických osob k zastupování jiných fyzických a právnických osob v rámci agendy orgánu veřejné moci (dále jen „oprávnění k zastupování“)
                    </xs:documentation>
                  </xs:annotation>
                  <xs:sequence>
                    <xs:element name="okz" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/identifikátor-oprávnění-k-zastupování">
                      <xs:annotation>
                        <xs:documentation xml:lang="cs">
                          identifikátor oprávnění k zastupování
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="zastoupený" type="osoby:osoba" sawsdl:modelReference="https://slovník.gov.cz/generický/standard-pro-elektronické-formuláře/pojem/zastoupený">
                      <xs:annotation>
                        <xs:documentation xml:lang="cs">
                          zastoupený
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="zástupce" type="osoby:fyzická_osoba_ve_vztahu_k_dokumentu" sawsdl:modelReference="https://slovník.gov.cz/generický/standard-pro-elektronické-formuláře/pojem/zástupce">
                      <xs:annotation>
                        <xs:documentation xml:lang="cs">
                          zástupce
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="k_rukám" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/generický/standard-pro-elektronické-dokumenty/pojem/k-rukám">
                <xs:annotation>
                  <xs:documentation xml:lang="cs">
                    k rukám
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="počet_příloh" type="xs:integer" sawsdl:modelReference="https://slovník.gov.cz/generický/standard-pro-elektronické-dokumenty/pojem/počet-příloh">
                <xs:annotation>
                  <xs:documentation xml:lang="cs">
                    počet příloh
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="přílohy">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="příloha" sawsdl:modelReference="https://slovník.gov.cz/generický/standard-pro-elektronické-dokumenty/pojem/obsahuje-přílohu">
                      <xs:annotation>
                        <xs:documentation xml:lang="cs">
                          obsahuje přílohu
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/generický/standard-pro-elektronické-dokumenty/pojem/příloha">
                        <xs:annotation>
                          <xs:documentation xml:lang="cs">
                            Příloha
                          </xs:documentation>
                        </xs:annotation>
                        <xs:sequence>
                          <xs:element name="název" type="osvědčení:langString" sawsdl:modelReference="https://slovník.gov.cz/generický/standard-pro-elektronické-dokumenty/pojem/název-přílohy">
                            <xs:annotation>
                              <xs:documentation xml:lang="cs">
                                název přílohy
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="název_souboru" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/generický/standard-pro-elektronické-dokumenty/pojem/název-souboru-přílohy">
                            <xs:annotation>
                              <xs:documentation xml:lang="cs">
                                název souboru přílohy
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="hash_souboru" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/generický/standard-pro-elektronické-dokumenty/pojem/hash-souboru">
                            <xs:annotation>
                              <xs:documentation xml:lang="cs">
                                hash souboru
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>      
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="věc" type="osvědčení:langString" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/259/2012/pojem/má-stručný-obsah-dokumentu">
                <xs:annotation>
                  <xs:documentation xml:lang="cs">
                    stručný obsah dokumentu
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="úkon" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/12/2020/pojem/osvědčuje-digitální-úkon">
          <xs:annotation>
            <xs:documentation xml:lang="cs">
              osvědčuje digitální úkon
            </xs:documentation>
          </xs:annotation>
          <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/12/2020/pojem/digitální-úkon">
            <xs:annotation>
              <xs:documentation xml:lang="cs">
                Digitální úkon - Digitálním úkonem je úkon vykonávaný uživatelem služby vůči orgánu veřejné moci v rámci agendy a vedený v katalogu služeb jako úkon v elektronické podobě.
              </xs:documentation>
            </xs:annotation>
            <xs:sequence>
              <xs:element name="kód" sawsdl:modelReference="https://slovník.gov.cz/agendový/104/pojem/má-identifikátor-úkonu-služby">
                <xs:annotation>
                  <xs:documentation xml:lang="cs">
                    Má identifikátor úkonu služby - Automaticky (stejně jako v případě služby VS) generovaný kód sloužící pro databázové zpracování údajů.
                  </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="U\d{1,8}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="název" type="osvědčení:langString" sawsdl:modelReference="https://slovník.gov.cz/agendový/104/pojem/má-název-úkonu-služby">
                <xs:annotation>
                  <xs:documentation xml:lang="cs">
                    Má název úkonu služby - Podobně jako u služby se jedná o srozumitelný a výstižný název úkonu, aby bylo klientovi jasné, co je účelem úkonu. Název úkonu by měl výstižně popsat konkrétní krok (např. podání žádosti, výzva k doložení/doplnění žádosti, atd.).
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="služba" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/12/2020/pojem/osvědčuje-digitální-úkon-služby">
          <xs:annotation>
            <xs:documentation xml:lang="cs">
              osvědčuje digitální úkon služby
            </xs:documentation>
          </xs:annotation>
          <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/služba-veřejné-správy">
            <xs:annotation>
              <xs:documentation xml:lang="cs">
                Služba veřejné správy - Služba veřejné správy představuje funkci (činnost) úřadu, která je vědomě poskytnuta konkrétním OVM konkrétnímu příjemci služby podle příslušného právního předpisu tak, že přináší příjemci vnímanou hodnotu, ať už v podobě benefitu nebo splnění zákonné povinnosti. Evidují se pouze takové služby VS, během nichž dochází k interakci mezi OVM a klientem či naopak, nikoli k interakci mezi OVM a OVM. Na službu VS lze také pohlížet jako na dosažení práva či naplnění povinnosti klienta, které nelze splnit jinak než interakcí či sérií interakcí mezi klientem a OVM. Služba se dělí podle toho, zdali je iniciována klientem nebo vykonávaná z moci úřední. Každá služba se skládá z nejméně jednoho úkonu.
              </xs:documentation>
            </xs:annotation>
            <xs:sequence>
              <xs:element name="kód" sawsdl:modelReference="https://slovník.gov.cz/agendový/104/pojem/má-identifikátor-služby">
                <xs:annotation>
                  <xs:documentation xml:lang="cs">
                    Má identifikátor služby - Automaticky (stejně jako v případě agendy nebo činnosti) generovaný kód sloužící pro databázové zpracování údajů.
                  </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="S\d{1,6}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="název" type="osvědčení:langString" sawsdl:modelReference="https://slovník.gov.cz/agendový/104/pojem/má-název-služby">
                <xs:annotation>
                  <xs:documentation xml:lang="cs">
                    Má název služby - Název by měl klientovi stručně a jasně vystihnout, o jakou službu se jedná. Důležité je, aby byl nezaměnitelný s jinou službou, ale stále velmi jednoduchý, srozumitelný a zapamatovatelný. Měřítkem je, že název služby je používaný (bude používán) v běžném hovoru lidí.
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="agenda" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/12/2020/pojem/osvědčuje-digitální-úkon-služby-agendy">
          <xs:annotation>
            <xs:documentation xml:lang="cs">
              osvědčuje digitální úkon služby agendy
            </xs:documentation>
          </xs:annotation>
          <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/agenda">
            <xs:annotation>
              <xs:documentation xml:lang="cs">
                Agenda - Ucelená oblast působnosti orgánu veřejné moci nebo ucelená oblast působení soukromoprávního uživatele údajů.
              </xs:documentation>
            </xs:annotation>
            <xs:sequence>
              <xs:element name="kód" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/má-kód-agendy">
                <xs:annotation>
                  <xs:documentation xml:lang="cs">
                    Má kód agendy - Kód agendy je veřejným identifikátorem, který je jednoznačně přiřazen záznamu o agendě v číselníku agend v registru práv a povinností.
                  </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="A\d{1,6}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="název" type="osvědčení:langString" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/má-název-agendy">
                <xs:annotation>
                  <xs:documentation xml:lang="cs">
                    Má název agendy - Název agendy je referenčním údajem o agendě vedený v Registru práv a povinností
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="způsob_provedení_úkonu" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/12/2020/pojem/osvědčuje-způsob-provedení-digitálního-úkonu">
          <xs:annotation>
            <xs:documentation xml:lang="cs">
              osvědčuje způsob provedení digitálního úkonu
            </xs:documentation>
          </xs:annotation>
          <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/12/2020/pojem/způsob-provedení-digitálního-úkonu">
            <xs:annotation>
              <xs:documentation xml:lang="cs">
                Způsob provedení digitálního úkonu
              </xs:documentation>
            </xs:annotation>
            <xs:sequence>
              <xs:element name="kód" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/datový/číselníky/pojem/kód-položky-číselníku">
                <xs:annotation>
                  <xs:documentation xml:lang="cs">
                    kód položky číselníku - Unikátní kód položky číselníku v rámci číselníku, do kterého položka patří.
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="název" type="osvědčení:langString" sawsdl:modelReference="https://slovník.gov.cz/datový/číselníky/pojem/plný-název-položky-číselníku">
                <xs:annotation>
                  <xs:documentation xml:lang="cs">
                    plný název položky číselníku - Plný (tj. úplný) název (hodnota) položky číselníku.
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
