adresy/draft/schémata/adresa.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:adresa="https://ofn.gov.cz/adresy/" targetNamespace="https://ofn.gov.cz/adresy/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="adresa">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="budova" type="xs:string" minOccurs="0"/>
			<xs:element name="číslo_domovní" type="xs:integer" minOccurs="0"/>
			<xs:element name="číslo_orientační" type="xs:integer" minOccurs="0"/>
			<xs:element name="iri_adresního_místa" type="xs:anyURI" minOccurs="0"/>
			<xs:element name="iri_části_obce" type="xs:anyURI" minOccurs="0"/>
			<xs:element name="iri_kraje" type="xs:anyURI" minOccurs="0"/>
			<xs:element name="iri_obce" type="xs:anyURI" minOccurs="0"/>
			<xs:element name="iri_okresu" type="xs:anyURI" minOccurs="0"/>
			<xs:element name="iri_rúian" type="xs:anyURI" minOccurs="0"/>
			<xs:element name="místnost" type="xs:string" minOccurs="0"/>
			<xs:element name="momc" type="xs:string" minOccurs="0"/>
			<xs:element name="mop" type="xs:string" minOccurs="0"/>
			<xs:element name="název_části_obce" type="xs:string" minOccurs="0"/>
			<xs:element name="název_kraje" type="xs:string" minOccurs="0"/>
			<xs:element name="název_obce" type="xs:string" minOccurs="0"/>
			<xs:element name="název_okresu" type="xs:string" minOccurs="0"/>
			<xs:element name="název_ulice" type="xs:string" minOccurs="0"/>
			<xs:element name="patro" type="xs:string" minOccurs="0"/>
			<xs:element name="psč" type="xs:string" minOccurs="0"/>
			<xs:element name="text" type="xs:string" minOccurs="0"/>
			<xs:element name="typ_stavebního_objektu" type="xs:string" minOccurs="0"/>
			<xs:element name="znak_čísla_orientačního" type="xs:string" minOccurs="0"/>
			<xs:any namespace="##other" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="adresa" type="adresa:adresa"/>	
</xs:schema>
