adresy/draft/schémata/adresa.xsd

<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="https://data.gov.cz/otevřené-formální-normy/adresy/" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified">
	<xs:complexType name="adresa">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="budova" type="xs:string" minOccurs="0"/>
			<xs:element name="číslo_domovní" type="xs:integer" minOccurs="0"/>
			<xs:element name="číslo_orientační" type="xs:integer" minOccurs="0"/>
			<xs:element name="email" type="xs:string" minOccurs="0"/>
			<xs:element name="kód_adm" type="xs:integer" minOccurs="0"/>
			<xs:element name="kód_casti_obce" type="xs:string" minOccurs="0"/>
			<xs:element name="kód_kraje" type="xs:string" minOccurs="0"/>
			<xs:element name="kód_obce" type="xs:string" minOccurs="0"/>
			<xs:element name="kód_okresu" type="xs:string" minOccurs="0"/>
			<xs:element name="kód_ruian" type="xs:integer" minOccurs="0"/>
			<xs:element name="místnost" type="xs:string" minOccurs="0"/>
			<xs:element name="momc" type="xs:string" minOccurs="0"/>
			<xs:element name="mop" type="xs:string" minOccurs="0"/>
			<xs:element name="název_části_obce" type="xs:string" minOccurs="0"/>
			<xs:element name="název_kraje" type="xs:string" minOccurs="0"/>
			<xs:element name="název_obce" type="xs:string" minOccurs="0"/>
			<xs:element name="název_okresu" type="xs:string" minOccurs="0"/>
			<xs:element name="název_ulice" type="xs:string" minOccurs="0"/>
			<xs:element name="patro" type="xs:string" minOccurs="0"/>
			<xs:element name="psc" type="xs:string" minOccurs="0"/>
			<xs:element name="text" type="xs:string" minOccurs="0"/>
			<xs:element name="typ_ruian" type="xs:string" minOccurs="0"/>
			<xs:element name="typ_so" type="xs:string" minOccurs="0"/>
			<xs:element name="url" type="xs:string" minOccurs="0"/>
			<xs:element name="znak_čísla_orientačního" type="xs:string" minOccurs="0"/>
			<xs:any namespace="##other" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
