záznam-informačního-systému-nahrazující-úředně-ověřený-podpis/draft/schémata/záznam-informačního-systému-nahrazující-úředně-ověřený-podpis.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1" elementFormDefault="qualified" targetNamespace="http://dia.gov.cz/ns/zaznam-informacniho-systemu-nahrazujici-uredne-overeny-podpis" xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:místa="http://dia.gov.cz/ns/spolecne-casti-elektronickych-dokumentu/mista" xmlns:záznam="http://dia.gov.cz/ns/zaznam-informacniho-systemu-nahrazujici-uredne-overeny-podpis" xmlns:sawsdl="http://www.w3.org/ns/sawsdl">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/XML/1998/namespace"/>
  <xs:import namespace="http://dia.gov.cz/ns/spolecne-casti-elektronickych-dokumentu/mista" schemaLocation="https://ofn.gov.cz/záznam-informačního-systému-nahrazující-úředně-ověřený-podpis/draft/schémata/místo.xsd"/>
  <xs:complexType name="záznam" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/12/2020/pojem/záznam-informačního-systému-nahrazující-úředně-ověřený-podpis">
    <xs:annotation>
      <xs:documentation xml:lang="cs">
        Záznam informačního systému nahrazující úředně ověřený podpis - Záznam informačního systému veřejné správy opatřený kvalifikovanou elektronickou pečetí a kvalifikovaným elektronickým časovým razítkem jeho správce o provedení elektronické identifikace podepisujícího prostřednictvím kvalifikovaného systému elektronické identifikace s úrovní záruky vysoká
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="identifikační_číslo_záznamu" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/generický/datový-slovník-záznamu-informačního-systému-nahrazujícího-úředně-ověřený-podpis/pojem/identifikační-číslo-záznamu">
        <xs:annotation>
          <xs:documentation xml:lang="cs">
            identifikační číslo záznamu
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="je_záznamem_o" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/12/2020/pojem/je-záznamem-o">
        <xs:annotation>
          <xs:documentation xml:lang="cs">
            je záznamem o - Záznam informačního systému veřejné správy opatřený kvalifikovanou elektronickou pečetí a kvalifikovaným elektronickým časovým razítkem jeho správce o provedení elektronické identifikace podepisujícího prostřednictvím kvalifikovaného systému elektronické identifikace s úrovní záruky vysoká
          </xs:documentation>
        </xs:annotation>
        <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/12/2020/pojem/nahrazení-úředně-ověřeného-podpisu-nebo-uznávaného-elektronického-podpisu">
          <xs:annotation>
            <xs:documentation xml:lang="cs">
              Nahrazení úředně ověřeného podpisu nebo uznávaného elektronického podpisu
            </xs:documentation>
          </xs:annotation>
          <xs:sequence>
            <xs:element name="datum_a_čas_nahrazení_podpisu" type="xs:dateTimeStamp" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/12/2020/pojem/datum-a-čas-nahrazení-úředně-ověřeného-podpisu-nebo-uznávaného-elektronického-podpisu">
              <xs:annotation>
                <xs:documentation xml:lang="cs">
                  datum a čas nahrazení úředně ověřeného podpisu nebo uznávaného elektronického podpisu
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="úkon" sawsdl:modelReference="https://slovník.gov.cz/generický/datový-slovník-záznamu-informačního-systému-nahrazujícího-úředně-ověřený-podpis/pojem/nahrazení-pro-účely-úkonu">
              <xs:annotation>
                <xs:documentation xml:lang="cs">
                  nahrazení pro účely úkonu
                </xs:documentation>
              </xs:annotation>
              <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/12/2020/pojem/digitální-úkon">
                <xs:annotation>
                  <xs:documentation xml:lang="cs">
                    Digitální úkon - Digitálním úkonem je úkon vykonávaný uživatelem služby vůči orgánu veřejné moci v rámci agendy a vedený v katalogu služeb jako úkon v elektronické podobě.
                  </xs:documentation>
                </xs:annotation>
                <xs:sequence>
                  <xs:element name="kód" sawsdl:modelReference="https://slovník.gov.cz/agendový/104/pojem/má-identifikátor-úkonu-služby">
                    <xs:annotation>
                      <xs:documentation xml:lang="cs">
                        Má identifikátor úkonu služby - Automaticky (stejně jako v případě služby VS) generovaný kód sloužící pro databázové zpracování údajů.
                      </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:pattern value="U\d{1,8}"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="název" sawsdl:modelReference="https://slovník.gov.cz/agendový/104/pojem/má-název-úkonu-služby">
                    <xs:annotation>
                      <xs:documentation xml:lang="cs">
                        Má název úkonu služby - Podobně jako u služby se jedná o srozumitelný a výstižný název úkonu, aby bylo klientovi jasné, co je účelem úkonu. Název úkonu by měl výstižně popsat konkrétní krok (např. podání žádosti, výzva k doložení/doplnění žádosti, atd.).
                      </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute ref="xml:lang" use="required"/>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="služba" sawsdl:modelReference="https://slovník.gov.cz/agendový/104/pojem/skládá-se-z-úkonu">
                    <xs:annotation/>
                    <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/služba-veřejné-správy">
                      <xs:annotation>
                        <xs:documentation xml:lang="cs">
                          Služba veřejné správy - Služba veřejné správy představuje funkci (činnost) úřadu, která je vědomě poskytnuta konkrétním OVM konkrétnímu příjemci služby podle příslušného právního předpisu tak, že přináší příjemci vnímanou hodnotu, ať už v podobě benefitu nebo splnění zákonné povinnosti. Evidují se pouze takové služby VS, během nichž dochází k interakci mezi OVM a klientem či naopak, nikoli k interakci mezi OVM a OVM. Na službu VS lze také pohlížet jako na dosažení práva či naplnění povinnosti klienta, které nelze splnit jinak než interakcí či sérií interakcí mezi klientem a OVM. Služba se dělí podle toho, zdali je iniciována klientem nebo vykonávaná z moci úřední. Každá služba se skládá z nejméně jednoho úkonu.
                        </xs:documentation>
                      </xs:annotation>
                      <xs:sequence>
                        <xs:element name="kód" sawsdl:modelReference="https://slovník.gov.cz/agendový/104/pojem/má-identifikátor-služby">
                          <xs:annotation>
                            <xs:documentation xml:lang="cs">
                              Má identifikátor služby - Automaticky (stejně jako v případě agendy nebo činnosti) generovaný kód sloužící pro databázové zpracování údajů.
                            </xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:pattern value="S\d{1,8}"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element name="název" sawsdl:modelReference="https://slovník.gov.cz/agendový/104/pojem/má-název-služby">
                          <xs:annotation>
                            <xs:documentation xml:lang="cs">
                              Má název služby - Název by měl klientovi stručně a jasně vystihnout, o jakou službu se jedná. Důležité je, aby byl nezaměnitelný s jinou službou, ale stále velmi jednoduchý, srozumitelný a zapamatovatelný. Měřítkem je, že název služby je používaný (bude používán) v běžném hovoru lidí.
                            </xs:documentation>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:simpleContent>
                              <xs:extension base="xs:string">
                                <xs:attribute ref="xml:lang" use="required"/>
                              </xs:extension>
                            </xs:simpleContent>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="agenda" sawsdl:modelReference="https://slovník.gov.cz/agendový/104/pojem/je-poskytována-v-rámci-agendy">
                          <xs:annotation>
                            <xs:documentation xml:lang="cs">
                              Je poskytována v rámci agendy - Přiřazuje úkon do agendy, v rámci které je vykonáván. Úkon je vždy vykonáván v právě jedné agendě. V jedné agendě může být vykonáváno více úkonů.
                            </xs:documentation>
                          </xs:annotation>
                          <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/agenda">
                            <xs:annotation>
                              <xs:documentation xml:lang="cs">
                                Agenda - Ucelená oblast působnosti orgánu veřejné moci nebo ucelená oblast působení soukromoprávního uživatele údajů.
                              </xs:documentation>
                            </xs:annotation>
                            <xs:sequence>
                              <xs:element name="kód" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/má-kód-agendy">
                                <xs:annotation>
                                  <xs:documentation xml:lang="cs">
                                    Má kód agendy - Kód agendy je veřejným identifikátorem, který je jednoznačně přiřazen záznamu o agendě v číselníku agend v registru práv a povinností.
                                  </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:pattern value="A\d{1,6}"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element name="název" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/má-název-agendy">
                                <xs:annotation>
                                  <xs:documentation xml:lang="cs">
                                    Má název agendy - Název agendy je referenčním údajem o agendě vedený v Registru práv a povinností
                                  </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                  <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                      <xs:attribute ref="xml:lang" use="required"/>
                                    </xs:extension>
                                  </xs:simpleContent>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="isvs" sawsdl:modelReference="https://slovník.gov.cz/generický/datový-slovník-záznamu-informačního-systému-nahrazujícího-úředně-ověřený-podpis/pojem/provádí-isvs">
              <xs:annotation>
                <xs:documentation xml:lang="cs">
                  provádí ISVS
                </xs:documentation>
              </xs:annotation>
              <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/365/2000/pojem/informační-systém-veřejné-správy">
                <xs:annotation>
                  <xs:documentation xml:lang="cs">
                    Informační systém veřejné správy - Informačním systémem veřejné správy funkční celek nebo jeho část zabezpečující cílevědomou a systematickou informační činnost pro účely výkonu veřejné správy nebo plnění jiných funkcí státu anebo dalších veřejnoprávních korporací. Každý informační systém veřejné správy zahrnuje data, která jsou uspořádána tak, aby bylo možné jejich zpracování a zpřístupnění, provozní údaje a dále technické a programové prostředky, případně jiné nástroje umožňující výkon informačních činností
                  </xs:documentation>
                </xs:annotation>
                <xs:sequence>
                  <xs:element name="kód" sawsdl:modelReference="https://slovník.gov.cz/agendový/104/pojem/má-identifikátor-isvs">
                    <xs:annotation>
                      <xs:documentation xml:lang="cs">
                        Má identifikátor ISVS - Jednoznačná identifikace ISVS v rámci RPP.
                      </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:pattern value="\d{1,6}"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="název" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/329/2020/pojem/název-isvs">
                    <xs:annotation>
                      <xs:documentation xml:lang="cs">
                        název ISVS - Název ISVS, který používá správce ISVS.
                      </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute ref="xml:lang" use="required"/>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="ovm" sawsdl:modelReference="https://slovník.gov.cz/generický/datový-slovník-záznamu-informačního-systému-nahrazujícího-úředně-ověřený-podpis/pojem/provádí-ovm">
              <xs:annotation>
                <xs:documentation xml:lang="cs">
                  provádí OVM
                </xs:documentation>
              </xs:annotation>
              <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/orgán-veřejné-moci">
                <xs:annotation>
                  <xs:documentation xml:lang="cs">
                    Orgán veřejné moci - Orgánem veřejné moci se rozumí státní orgán, územní samosprávný celek a fyzická nebo právnická osoba, byla-li jí svěřena působnost v oblasti veřejné správy.
                  </xs:documentation>
                </xs:annotation>
                <xs:sequence>
                  <xs:element name="id" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/má-identifikátor-orgánu-veřejné-moci">
                    <xs:annotation>
                      <xs:documentation xml:lang="cs">
                        Má identifikátor orgánu veřejné moci - Jednoznačný identifikátor orgánu veřejné moci v rámci všech orgánů veřejné moci. Identifikátor je referenčním údajem.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="název" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/má-název-orgánu-veřejné-moci">
                    <xs:annotation>
                      <xs:documentation xml:lang="cs">
                        Má název orgánu veřejné moci - Pojmenovává orgán veřejné moci názvem, který je oficiálním názvem orgánu veřejné moci. Název je referenčním údajem převzatým z registru obyvatel nebo z registru osob.
                      </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute ref="xml:lang" use="required"/>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="žadatel" sawsdl:modelReference="https://slovník.gov.cz/generický/datový-slovník-záznamu-informačního-systému-nahrazujícího-úředně-ověřený-podpis/pojem/žadatel">
              <xs:annotation>
                <xs:documentation xml:lang="cs">
                  žadatel
                </xs:documentation>
              </xs:annotation>
              <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/generický/datový-slovník-záznamu-informačního-systému-nahrazujícího-úředně-ověřený-podpis/pojem/fyzická-osoba-ve-vztahu-k-nahrazení-úředně-ověřeného-podpisu-nebo-uznávaného-elektronického-podpisu">
                <xs:annotation>
                  <xs:documentation xml:lang="cs">
                    Fyzická osoba ve vztahu k nahrazení úředně ověřeného podpisu nebo uznávaného elektronického podpisu
                  </xs:documentation>
                </xs:annotation>
                <xs:sequence>
                  <xs:element name="jméno" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/89/2012/pojem/jméno-fyzické-osoby">
                    <xs:annotation>
                      <xs:documentation xml:lang="cs">
                        jméno fyzické osoby - Jméno člověka je jeho osobní jméno a příjmení, popřípadě jeho další jména a rodné příjmení, která mu podle zákona náležejí. Každý člověk má právo užívat své jméno v právním styku, stejně jako právo na ochranu svého jména a na úctu k němu.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="další_jména" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/89/2012/pojem/další-jméno-fyzické-osoby">
                    <xs:annotation>
                      <xs:documentation xml:lang="cs">
                        další jméno fyzické osoby
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="příjmení" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/89/2012/pojem/příjmení-fyzické-osoby">
                    <xs:annotation>
                      <xs:documentation xml:lang="cs">
                        příjmení fyzické osoby
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="datum_narození" type="xs:date" sawsdl:modelReference="https://slovník.gov.cz/generický/eu-1501-2015-e-idas-prováděcí/pojem/datum-narození">
                    <xs:annotation>
                      <xs:documentation xml:lang="cs">
                        datum narození
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="bydliště" type="místa:místo" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/89/2012/pojem/má-místo-bydliště"/>
                  <xs:element minOccurs="0" name="autentizace" sawsdl:modelReference="https://slovník.gov.cz/generický/datový-slovník-záznamu-informačního-systému-nahrazujícího-úředně-ověřený-podpis/pojem/je-autentizována">
                    <xs:annotation>
                      <xs:documentation xml:lang="cs">
                        je autentizována
                      </xs:documentation>
                    </xs:annotation>
                    <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/12/2020/pojem/elektronická-identifikace">
                      <xs:annotation>
                        <xs:documentation xml:lang="cs">
                          Elektronická identifikace
                        </xs:documentation>
                      </xs:annotation>
                      <xs:sequence>
                        <xs:element name="identifikátor" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/12/2020/pojem/identifikátor-elektronické-identifikace">
                          <xs:annotation>
                            <xs:documentation xml:lang="cs">
                              identifikátor elektronické identifikace
                            </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="datum_a_čas" type="xs:dateTimeStamp" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/12/2020/pojem/datum-a-čas-elektronické-identifikace">
                          <xs:annotation>
                            <xs:documentation xml:lang="cs">
                              datum a čas elektronické identifikace
                            </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="použitý_prostředek" sawsdl:modelReference="https://slovník.gov.cz/generický/eu-910-2014-e-idas/pojem/probíhá-pomocí-prostředku-pro-elektronickou-identifikaci">
                          <xs:annotation>
                            <xs:documentation xml:lang="cs">
                              probíhá pomocí prostředku pro elektronickou identifikaci
                            </xs:documentation>
                          </xs:annotation>
                          <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/generický/eu-910-2014-e-idas/pojem/prostředek-pro-elektronickou-identifikaci">
                            <xs:annotation>
                              <xs:documentation xml:lang="cs">
                                Prostředek pro elektronickou identifikaci - hmotná či nehmotná jednotka obsahující osobní identifikační údaje, která se používá k autentizaci pro účely on-line služby
                              </xs:documentation>
                            </xs:annotation>
                            <xs:sequence>
                              <xs:element name="úroveň_záruky" sawsdl:modelReference="https://slovník.gov.cz/generický/eu-910-2014-e-idas/pojem/má-úroveň-záruky">
                                <xs:annotation>
                                  <xs:documentation xml:lang="cs">
                                    má úroveň záruky
                                  </xs:documentation>
                                </xs:annotation>
                                <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/generický/eu-910-2014-e-idas/pojem/úroveň-záruky">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="cs">
                                      Úroveň záruky - Systém elektronické identifikace oznámený podle čl. 9 odst. 1 uvádí nízkou, značnou nebo vysokou úroveň záruky pro prostředky pro elektronickou identifikaci vydávané v rámci tohoto systému.
                                    </xs:documentation>
                                  </xs:annotation>
                                  <xs:sequence>
                                    <xs:element name="iri">
                                      <xs:simpleType>
                                        <xs:restriction base="xs:anyURI">
                                          <xs:pattern value="http://eidas.europa.eu/LoA/.+"/>
                                        </xs:restriction>
                                      </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="kód" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/datový/číselníky/pojem/kód-položky-číselníku">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="cs">
                                          kód položky číselníku - Unikátní kód položky číselníku v rámci číselníku, do kterého položka patří.
                                        </xs:documentation>
                                      </xs:annotation>
                                    </xs:element>
                                    <xs:element name="název" sawsdl:modelReference="https://slovník.gov.cz/datový/číselníky/pojem/plný-název-položky-číselníku">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="cs">
                                          plný název položky číselníku - Plný (tj. úplný) název (hodnota) položky číselníku.
                                        </xs:documentation>
                                      </xs:annotation>
                                      <xs:complexType>
                                        <xs:simpleContent>
                                          <xs:extension base="xs:string">
                                            <xs:attribute ref="xml:lang" use="required"/>
                                          </xs:extension>
                                        </xs:simpleContent>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="použité_zastupování" sawsdl:modelReference="https://slovník.gov.cz/generický/datový-slovník-záznamu-informačního-systému-nahrazujícího-úředně-ověřený-podpis/pojem/použité-oprávnění-k-zastupování">
              <xs:annotation>
                <xs:documentation xml:lang="cs">
                  použité oprávnění k zastupování
                </xs:documentation>
              </xs:annotation>
              <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/generický/datový-slovník-záznamu-informačního-systému-nahrazujícího-úředně-ověřený-podpis/pojem/oprávnění-k-zastupování">
                <xs:annotation>
                  <xs:documentation xml:lang="cs">
                    Oprávnění k zastupování
                  </xs:documentation>
                </xs:annotation>
                <xs:sequence>
                  <xs:element name="okz" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/identifikátor-oprávnění-k-zastupování">
                    <xs:annotation>
                      <xs:documentation xml:lang="cs">
                        identifikátor oprávnění k zastupování
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="zastoupený" sawsdl:modelReference="https://slovník.gov.cz/generický/datový-slovník-záznamu-informačního-systému-nahrazujícího-úředně-ověřený-podpis/pojem/zastoupený">
                    <xs:annotation>
                      <xs:documentation xml:lang="cs">
                        zastoupený
                      </xs:documentation>
                    </xs:annotation>
                    <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/generický/datový-slovník-záznamu-informačního-systému-nahrazujícího-úředně-ověřený-podpis/pojem/fyzická-osoba-ve-vztahu-k-nahrazení-úředně-ověřeného-podpisu-nebo-uznávaného-elektronického-podpisu">
                      <xs:annotation>
                        <xs:documentation xml:lang="cs">
                          Fyzická osoba ve vztahu k nahrazení úředně ověřeného podpisu nebo uznávaného elektronického podpisu
                        </xs:documentation>
                      </xs:annotation>
                      <xs:sequence>
                        <xs:element name="jméno" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/89/2012/pojem/jméno-fyzické-osoby">
                          <xs:annotation>
                            <xs:documentation xml:lang="cs">
                              jméno fyzické osoby - Jméno člověka je jeho osobní jméno a příjmení, popřípadě jeho další jména a rodné příjmení, která mu podle zákona náležejí. Každý člověk má právo užívat své jméno v právním styku, stejně jako právo na ochranu svého jména a na úctu k němu.
                            </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="další_jména" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/89/2012/pojem/další-jméno-fyzické-osoby">
                          <xs:annotation>
                            <xs:documentation xml:lang="cs">
                              další jméno fyzické osoby
                            </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="příjmení" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/89/2012/pojem/příjmení-fyzické-osoby">
                          <xs:annotation>
                            <xs:documentation xml:lang="cs">
                              příjmení fyzické osoby
                            </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="datum_narození" type="xs:date" sawsdl:modelReference="https://slovník.gov.cz/generický/eu-1501-2015-e-idas-prováděcí/pojem/datum-narození">
                          <xs:annotation>
                            <xs:documentation xml:lang="cs">
                              datum narození
                            </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="bydliště" type="místa:místo" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/89/2012/pojem/má-místo-bydliště"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="zástupce" sawsdl:modelReference="https://slovník.gov.cz/generický/datový-slovník-záznamu-informačního-systému-nahrazujícího-úředně-ověřený-podpis/pojem/zástupce">
                    <xs:annotation>
                      <xs:documentation xml:lang="cs">
                        zástupce
                      </xs:documentation>
                    </xs:annotation>
                    <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/generický/datový-slovník-záznamu-informačního-systému-nahrazujícího-úředně-ověřený-podpis/pojem/fyzická-osoba-ve-vztahu-k-nahrazení-úředně-ověřeného-podpisu-nebo-uznávaného-elektronického-podpisu">
                      <xs:annotation>
                        <xs:documentation xml:lang="cs">
                          Fyzická osoba ve vztahu k nahrazení úředně ověřeného podpisu nebo uznávaného elektronického podpisu
                        </xs:documentation>
                      </xs:annotation>
                      <xs:sequence>
                        <xs:element name="jméno" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/89/2012/pojem/jméno-fyzické-osoby">
                          <xs:annotation>
                            <xs:documentation xml:lang="cs">
                              jméno fyzické osoby - Jméno člověka je jeho osobní jméno a příjmení, popřípadě jeho další jména a rodné příjmení, která mu podle zákona náležejí. Každý člověk má právo užívat své jméno v právním styku, stejně jako právo na ochranu svého jména a na úctu k němu.
                            </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="další_jména" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/89/2012/pojem/další-jméno-fyzické-osoby">
                          <xs:annotation>
                            <xs:documentation xml:lang="cs">
                              další jméno fyzické osoby
                            </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="příjmení" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/89/2012/pojem/příjmení-fyzické-osoby">
                          <xs:annotation>
                            <xs:documentation xml:lang="cs">
                              příjmení fyzické osoby
                            </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="datum_narození" type="xs:date" sawsdl:modelReference="https://slovník.gov.cz/generický/eu-1501-2015-e-idas-prováděcí/pojem/datum-narození">
                          <xs:annotation>
                            <xs:documentation xml:lang="cs">
                              datum narození
                            </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="bydliště" type="místa:místo" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/89/2012/pojem/má-místo-bydliště"/>
                        <xs:element name="autentizace" sawsdl:modelReference="https://slovník.gov.cz/generický/datový-slovník-záznamu-informačního-systému-nahrazujícího-úředně-ověřený-podpis/pojem/je-autentizována">
                          <xs:annotation>
                            <xs:documentation xml:lang="cs">
                              je autentizována
                            </xs:documentation>
                          </xs:annotation>
                          <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/12/2020/pojem/elektronická-identifikace">
                            <xs:annotation>
                              <xs:documentation xml:lang="cs">
                                Elektronická identifikace
                              </xs:documentation>
                            </xs:annotation>
                            <xs:sequence>
                              <xs:element name="identifikátor" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/12/2020/pojem/identifikátor-elektronické-identifikace">
                                <xs:annotation>
                                  <xs:documentation xml:lang="cs">
                                    identifikátor elektronické identifikace
                                  </xs:documentation>
                                </xs:annotation>
                              </xs:element>
                              <xs:element name="datum_a_čas" type="xs:dateTimeStamp" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/12/2020/pojem/datum-a-čas-elektronické-identifikace">
                                <xs:annotation>
                                  <xs:documentation xml:lang="cs">
                                    datum a čas elektronické identifikace
                                  </xs:documentation>
                                </xs:annotation>
                              </xs:element>
                              <xs:element name="použitý_prostředek" sawsdl:modelReference="https://slovník.gov.cz/generický/eu-910-2014-e-idas/pojem/probíhá-pomocí-prostředku-pro-elektronickou-identifikaci">
                                <xs:annotation>
                                  <xs:documentation xml:lang="cs">
                                    probíhá pomocí prostředku pro elektronickou identifikaci
                                  </xs:documentation>
                                </xs:annotation>
                                <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/generický/eu-910-2014-e-idas/pojem/prostředek-pro-elektronickou-identifikaci">
                                  <xs:annotation>
                                    <xs:documentation xml:lang="cs">
                                      Prostředek pro elektronickou identifikaci - hmotná či nehmotná jednotka obsahující osobní identifikační údaje, která se používá k autentizaci pro účely on-line služby
                                    </xs:documentation>
                                  </xs:annotation>
                                  <xs:sequence>
                                    <xs:element name="úroveň_záruky" sawsdl:modelReference="https://slovník.gov.cz/generický/eu-910-2014-e-idas/pojem/má-úroveň-záruky">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="cs">
                                          má úroveň záruky
                                        </xs:documentation>
                                      </xs:annotation>
                                      <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/generický/eu-910-2014-e-idas/pojem/úroveň-záruky">
                                        <xs:annotation>
                                          <xs:documentation xml:lang="cs">
                                            Úroveň záruky - Systém elektronické identifikace oznámený podle čl. 9 odst. 1 uvádí nízkou, značnou nebo vysokou úroveň záruky pro prostředky pro elektronickou identifikaci vydávané v rámci tohoto systému.
                                          </xs:documentation>
                                        </xs:annotation>
                                        <xs:sequence>
                                          <xs:element name="iri">
                                            <xs:simpleType>
                                              <xs:restriction base="xs:anyURI">
                                                <xs:pattern value="http://eidas.europa.eu/LoA/.+"/>
                                              </xs:restriction>
                                            </xs:simpleType>
                                          </xs:element>
                                          <xs:element name="kód" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/datový/číselníky/pojem/kód-položky-číselníku">
                                            <xs:annotation>
                                              <xs:documentation xml:lang="cs">
                                                kód položky číselníku - Unikátní kód položky číselníku v rámci číselníku, do kterého položka patří.
                                              </xs:documentation>
                                            </xs:annotation>
                                          </xs:element>
                                          <xs:element name="název" sawsdl:modelReference="https://slovník.gov.cz/datový/číselníky/pojem/plný-název-položky-číselníku">
                                            <xs:annotation>
                                              <xs:documentation xml:lang="cs">
                                                plný název položky číselníku - Plný (tj. úplný) název (hodnota) položky číselníku.
                                              </xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                              <xs:simpleContent>
                                                <xs:extension base="xs:string">
                                                  <xs:attribute ref="xml:lang" use="required"/>
                                                </xs:extension>
                                              </xs:simpleContent>
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="dokument" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/12/2020/pojem/nedílně-spojen-s-dokumentem">
        <xs:annotation>
          <xs:documentation xml:lang="cs">
            nedílně spojen s dokumentem - Stanoví-li právní předpis požadavek úředního ověření vlastnoručního podpisu nebo uznávaného elektronického podpisu, považuje se za splněný využitím elektronického podpisu na dokumentu nedílně spojeném se záznamem informačního systému veřejné správy opatřeným kvalifikovanou elektronickou pečetí a kvalifikovaným elektronickým časovým razítkem jeho správce o provedení elektronické identifikace podepisujícího prostřednictvím kvalifikovaného systému elektronické identifikace s úrovní záruky vysoká.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/12/2020/pojem/dokument-nedílně-spojený-se-záznamem-isvs">
          <xs:annotation>
            <xs:documentation xml:lang="cs">
              Dokument nedílně spojený se Záznamem ISVS - Stanoví-li právní předpis požadavek úředního ověření vlastnoručního podpisu nebo uznávaného elektronického podpisu, považuje se za splněný využitím elektronického podpisu na dokumentu nedílně spojeném se záznamem informačního systému veřejné správy opatřeným kvalifikovanou elektronickou pečetí a kvalifikovaným elektronickým časovým razítkem jeho správce o provedení elektronické identifikace podepisujícího prostřednictvím kvalifikovaného systému elektronické identifikace s úrovní záruky vysoká.
            </xs:documentation>
          </xs:annotation>
          <xs:sequence>
            <xs:element name="název" sawsdl:modelReference="https://slovník.gov.cz/generický/datový-slovník-záznamu-informačního-systému-nahrazujícího-úředně-ověřený-podpis/pojem/název-dokumentu">
              <xs:annotation>
                <xs:documentation xml:lang="cs">
                  název dokumentu
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute ref="xml:lang" use="required"/>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="název_souboru" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/generický/datový-slovník-záznamu-informačního-systému-nahrazujícího-úředně-ověřený-podpis/pojem/název-souboru">
              <xs:annotation>
                <xs:documentation xml:lang="cs">
                  název souboru
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" name="má_otisk_dokumentu" sawsdl:modelReference="https://slovník.gov.cz/generický/datový-slovník-záznamu-informačního-systému-nahrazujícího-úředně-ověřený-podpis/pojem/má-otisk-dokumentu">
              <xs:annotation>
                <xs:documentation xml:lang="cs">
                  má otisk dokumentu
                </xs:documentation>
              </xs:annotation>
              <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/generický/datový-slovník-záznamu-informačního-systému-nahrazujícího-úředně-ověřený-podpis/pojem/otisk-dokumentu">
                <xs:annotation>
                  <xs:documentation xml:lang="cs">
                    Otisk dokumentu
                  </xs:documentation>
                </xs:annotation>
                <xs:sequence>
                  <xs:element name="hodnota_otisku" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/generický/datový-slovník-záznamu-informačního-systému-nahrazujícího-úředně-ověřený-podpis/pojem/hodnota-otisku">
                    <xs:annotation>
                      <xs:documentation xml:lang="cs">
                        hodnota otisku
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="použitá_hashovací_funkce" sawsdl:modelReference="https://slovník.gov.cz/generický/datový-slovník-záznamu-informačního-systému-nahrazujícího-úředně-ověřený-podpis/pojem/použitá-hashovací-funkce">
                    <xs:annotation>
                      <xs:documentation xml:lang="cs">
                        použitá hashovací funkce
                      </xs:documentation>
                    </xs:annotation>
                    <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/generický/datový-slovník-záznamu-informačního-systému-nahrazujícího-úředně-ověřený-podpis/pojem/hashovací-funkce">
                      <xs:annotation>
                        <xs:documentation xml:lang="cs">
                          Hashovací funkce
                        </xs:documentation>
                      </xs:annotation>
                      <xs:sequence>
                        <xs:element name="iri">
                          <xs:simpleType>
                            <xs:restriction base="xs:anyURI">
                              <xs:pattern value="https://data.dia.gov.cz/zdroj/číselníky/hashovací-funkce-pro-elegalizaci/položky/.+"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element name="kód" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/datový/číselníky/pojem/kód-položky-číselníku">
                          <xs:annotation>
                            <xs:documentation xml:lang="cs">
                              kód položky číselníku - Unikátní kód položky číselníku v rámci číselníku, do kterého položka patří.
                            </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="název" sawsdl:modelReference="https://slovník.gov.cz/datový/číselníky/pojem/plný-název-položky-číselníku">
                          <xs:annotation>
                            <xs:documentation xml:lang="cs">
                              plný název položky číselníku - Plný (tj. úplný) název (hodnota) položky číselníku.
                            </xs:documentation>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:simpleContent>
                              <xs:extension base="xs:string">
                                <xs:attribute ref="xml:lang" use="required"/>
                              </xs:extension>
                            </xs:simpleContent>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="záznam" type="záznam:záznam"/>
</xs:schema>
