dokumenty-z-formulářů-ZoPDS/draft/společné-specifikace/místo/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1" elementFormDefault="qualified" targetNamespace="https://ofn.gov.cz/jmenný-prostor/podání/místa" xmlns:místa="https://ofn.gov.cz/jmenný-prostor/podání/místa" xmlns:sawsdl="http://www.w3.org/ns/sawsdl">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
  <xs:complexType name="langString">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="xml:lang" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="adresa_rúian" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/89/2012/pojem/místo">
    <xs:annotation>
      <xs:documentation>Význam: https://slovník.gov.cz/legislativní/sbírka/89/2012/pojem/místo
Název (cs): Místo</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:sequence>
        <xs:element minOccurs="0" name="ulice" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/má-přiřazenou-ulici">
          <xs:annotation>
            <xs:documentation>Význam: https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/má-přiřazenou-ulici
Název (cs): má přiřazenou ulici</xs:documentation>
          </xs:annotation>
          <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/datový/vfr-1.8.0/pojem/ulice">
            <xs:annotation>
              <xs:documentation>Význam: https://slovník.gov.cz/datový/vfr-1.8.0/pojem/ulice
Název (cs): ulice</xs:documentation>
            </xs:annotation>
            <xs:sequence>
              <xs:element name="kód" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/datový/vfr-1.8.0/pojem/kód-ulice">
                <xs:annotation>
                  <xs:documentation>Význam: https://slovník.gov.cz/datový/vfr-1.8.0/pojem/kód-ulice
Název (cs): kód ulice</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="název" type="místa:langString" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/název-ulice-nebo-jiného-veřejného-prostranství">
                <xs:annotation>
                  <xs:documentation>Význam: https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/název-ulice-nebo-jiného-veřejného-prostranství
Název (cs): název ulice nebo jiného veřejného prostranství
Popis (cs): Adresou se rozumí kombinace názvu okresu, názvu obce nebo vojenského újezdu, názvu části obce nebo v případě hlavního města Prahy názvu katastrálního území a názvu městského obvodu, čísla popisného nebo evidenčního, názvu ulice a čísla orientačního a dále zvláštních údajů pro doručování prostřednictvím poštovních služeb, která jednoznačně určuje adresní místo.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="číslo_domovní" type="xs:integer" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/má-číslo-domovní">
          <xs:annotation>
            <xs:documentation>Význam: https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/má-číslo-domovní
Název (cs): má číslo domovní
Popis (cs): Adresou se rozumí kombinace názvu okresu, názvu obce nebo vojenského újezdu, názvu části obce nebo v případě hlavního města Prahy názvu katastrálního území a názvu městského obvodu, čísla popisného nebo evidenčního, názvu ulice a čísla orientačního a dále zvláštních údajů pro doručování prostřednictvím poštovních služeb, která jednoznačně určuje adresní místo.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="typ_čísla_domovního" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/generický/adresy/pojem/typ-čísla-domovního">
          <xs:annotation>
            <xs:documentation>Význam: https://slovník.gov.cz/generický/adresy/pojem/typ-čísla-domovního
Název (cs): typ čísla domovního
Popis (cs): Typ čísla domovního, může nabývat hodnot: č.p. - číslo popisné stavebního objektu č.ev. - číslo evidenční stavebního objektu. Hodnota této vlastnosti je částí hodnoty vlastnosti locatorDesignator z ISA2 Core Location Vocabulary.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="má_číslo_orientační" type="xs:integer" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/má-číslo-orientační">
          <xs:annotation>
            <xs:documentation>Význam: https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/má-číslo-orientační
Název (cs): má číslo orientační</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="znak_čísla_orientačního" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/generický/adresy/pojem/znak-čísla-orientačního">
          <xs:annotation>
            <xs:documentation>Význam: https://slovník.gov.cz/generický/adresy/pojem/znak-čísla-orientačního
Název (cs): znak čísla orientačního
Popis (cs): Znak čísla orientačního. Je uveden v případě, že je znak k orientačnímu číslu přidělen. Tato položka nedává smysl bez současného vyplnění čísla orientačního. Hodnota této vlastnosti je částí hodnoty vlastnosti locatorDesignator z ISA2 Core Location Vocabulary.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="část_obce" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/má-přiřazenou-část-obce">
          <xs:annotation>
            <xs:documentation>Význam: https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/má-přiřazenou-část-obce
Název (cs): má přiřazenou část obce</xs:documentation>
          </xs:annotation>
          <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/datový/vfr-1.8.0/pojem/část-obce">
            <xs:annotation>
              <xs:documentation>Význam: https://slovník.gov.cz/datový/vfr-1.8.0/pojem/část-obce
Název (cs): část obce</xs:documentation>
            </xs:annotation>
            <xs:sequence>
              <xs:element name="kód" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/datový/vfr-1.8.0/pojem/kód-části-obce">
                <xs:annotation>
                  <xs:documentation>Význam: https://slovník.gov.cz/datový/vfr-1.8.0/pojem/kód-části-obce
Název (cs): kód části obce</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="název" type="místa:langString" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/název-části-obce">
                <xs:annotation>
                  <xs:documentation>Význam: https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/název-části-obce
Název (cs): název části obce
Popis (cs): Adresou se rozumí kombinace názvu okresu, názvu obce nebo vojenského újezdu, názvu části obce nebo v případě hlavního města Prahy názvu katastrálního území a názvu městského obvodu, čísla popisného nebo evidenčního, názvu ulice a čísla orientačního a dále zvláštních údajů pro doručování prostřednictvím poštovních služeb, která jednoznačně určuje adresní místo.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="obec" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/má-přiřazené-území-obce">
          <xs:annotation>
            <xs:documentation>Význam: https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/má-přiřazené-území-obce
Název (cs): má přiřazené území obce</xs:documentation>
          </xs:annotation>
          <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/datový/vfr-1.8.0/pojem/obec">
            <xs:annotation>
              <xs:documentation>Význam: https://slovník.gov.cz/datový/vfr-1.8.0/pojem/obec
Název (cs): obec</xs:documentation>
            </xs:annotation>
            <xs:sequence>
              <xs:element name="kód" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/datový/vfr-1.8.0/pojem/kód-obce">
                <xs:annotation>
                  <xs:documentation>Význam: https://slovník.gov.cz/datový/vfr-1.8.0/pojem/kód-obce
Název (cs): kód obce</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="název" type="místa:langString" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/název-obce">
                <xs:annotation>
                  <xs:documentation>Význam: https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/název-obce
Název (cs): název obce
Popis (cs): Adresou se rozumí kombinace názvu okresu, názvu obce nebo vojenského újezdu, názvu části obce nebo v případě hlavního města Prahy názvu katastrálního území a názvu městského obvodu, čísla popisného nebo evidenčního, názvu ulice a čísla orientačního a dále zvláštních údajů pro doručování prostřednictvím poštovních služeb, která jednoznačně určuje adresní místo.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="vojenský_újezd" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/má-přiřazené-území-vojenského-újezdu">
          <xs:annotation>
            <xs:documentation>Význam: https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/má-přiřazené-území-vojenského-újezdu
Název (cs): má přiřazené území vojenského újezdu</xs:documentation>
          </xs:annotation>
          <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/datový/vfr-1.8.0/pojem/obec">
            <xs:annotation>
              <xs:documentation>Význam: https://slovník.gov.cz/datový/vfr-1.8.0/pojem/obec
Název (cs): obec</xs:documentation>
            </xs:annotation>
            <xs:sequence>
              <xs:element name="kód" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/datový/vfr-1.8.0/pojem/kód-obce">
                <xs:annotation>
                  <xs:documentation>Význam: https://slovník.gov.cz/datový/vfr-1.8.0/pojem/kód-obce
Název (cs): kód obce</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="název" type="místa:langString" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/název-vojenského-újezdu">
                <xs:annotation>
                  <xs:documentation>Význam: https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/název-vojenského-újezdu
Název (cs): název vojenského újezdu
Popis (cs): Adresou se rozumí kombinace názvu okresu, názvu obce nebo vojenského újezdu, názvu části obce nebo v případě hlavního města Prahy názvu katastrálního území a názvu městského obvodu, čísla popisného nebo evidenčního, názvu ulice a čísla orientačního a dále zvláštních údajů pro doručování prostřednictvím poštovních služeb, která jednoznačně určuje adresní místo.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="okres" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/má-přiřazené-území-okresu">
          <xs:annotation>
            <xs:documentation>Význam: https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/má-přiřazené-území-okresu
Název (cs): má přiřazené území okresu</xs:documentation>
          </xs:annotation>
          <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/datový/vfr-1.8.0/pojem/okres">
            <xs:annotation>
              <xs:documentation>Význam: https://slovník.gov.cz/datový/vfr-1.8.0/pojem/okres
Název (cs): okres</xs:documentation>
            </xs:annotation>
            <xs:sequence>
              <xs:element name="kód" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/datový/vfr-1.8.0/pojem/kód-okresu">
                <xs:annotation>
                  <xs:documentation>Význam: https://slovník.gov.cz/datový/vfr-1.8.0/pojem/kód-okresu
Název (cs): kód okresu</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="název" type="místa:langString" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/název-okresu">
                <xs:annotation>
                  <xs:documentation>Význam: https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/název-okresu
Název (cs): název okresu
Popis (cs): Adresou se rozumí kombinace názvu okresu, názvu obce nebo vojenského újezdu, názvu části obce nebo v případě hlavního města Prahy názvu katastrálního území a názvu městského obvodu, čísla popisného nebo evidenčního, názvu ulice a čísla orientačního a dále zvláštních údajů pro doručování prostřednictvím poštovních služeb, která jednoznačně určuje adresní místo.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="katastrální_území" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/má-přiřazené-katastrální-území">
          <xs:annotation>
            <xs:documentation>Význam: https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/má-přiřazené-katastrální-území
Název (cs): má přiřazené katastrální území</xs:documentation>
          </xs:annotation>
          <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/datový/vfr-1.8.0/pojem/katastrální-území">
            <xs:annotation>
              <xs:documentation>Význam: https://slovník.gov.cz/datový/vfr-1.8.0/pojem/katastrální-území
Název (cs): katastrální území</xs:documentation>
            </xs:annotation>
            <xs:sequence>
              <xs:element name="kód" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/datový/vfr-1.8.0/pojem/kód-katastrálního-území">
                <xs:annotation>
                  <xs:documentation>Význam: https://slovník.gov.cz/datový/vfr-1.8.0/pojem/kód-katastrálního-území
Název (cs): kód katastrálního území</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="název" type="místa:langString" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/název-katastrálního-území">
                <xs:annotation>
                  <xs:documentation>Význam: https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/název-katastrálního-území
Název (cs): název katastrálního území
Popis (cs): Identifikační údaji o územním prvku, kterým je pozemek, jsou kód a název katastrálního území, ve kterém pozemek leží, a parcelní číslo.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="území_městského_obvodu_v_praze" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/má-přiřazené-území-městského-obvodu-v-hlavním-městě-praze">
          <xs:annotation>
            <xs:documentation>Význam: https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/má-přiřazené-území-městského-obvodu-v-hlavním-městě-praze
Název (cs): má přiřazené území městského obvodu v hlavním městě Praze</xs:documentation>
          </xs:annotation>
          <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/datový/vfr-1.8.0/pojem/městský-obvod-v-praze">
            <xs:annotation>
              <xs:documentation>Význam: https://slovník.gov.cz/datový/vfr-1.8.0/pojem/městský-obvod-v-praze
Název (cs): městský obvod v Praze</xs:documentation>
            </xs:annotation>
            <xs:sequence>
              <xs:element name="kód" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/datový/vfr-1.8.0/pojem/kód-městského-obvodu-v-praze">
                <xs:annotation>
                  <xs:documentation>Význam: https://slovník.gov.cz/datový/vfr-1.8.0/pojem/kód-městského-obvodu-v-praze
Název (cs): kód městského obvodu v Praze</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="název" type="místa:langString" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/název-městského-obvodu-v-hlavním-městě-praze">
                <xs:annotation>
                  <xs:documentation>Význam: https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/název-městského-obvodu-v-hlavním-městě-praze
Název (cs): název městského obvodu v hlavním městě Praze
Popis (cs): Adresou se rozumí kombinace názvu okresu, názvu obce nebo vojenského újezdu, názvu části obce nebo v případě hlavního města Prahy názvu katastrálního území a názvu městského obvodu, čísla popisného nebo evidenčního, názvu ulice a čísla orientačního a dále zvláštních údajů pro doručování prostřednictvím poštovních služeb, která jednoznačně určuje adresní místo.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="psč" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/má-zvláštní-údaje-pro-doručování">
          <xs:annotation>
            <xs:documentation>Význam: https://slovník.gov.cz/legislativní/sbírka/111/2009/pojem/má-zvláštní-údaje-pro-doručování
Název (cs): má zvláštní údaje pro doručování</xs:documentation>
          </xs:annotation>
          <xs:complexType sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/359/2011/pojem/údaje-o-poštovním-směrovacím-čísle">
            <xs:annotation>
              <xs:documentation>Význam: https://slovník.gov.cz/legislativní/sbírka/359/2011/pojem/údaje-o-poštovním-směrovacím-čísle
Název (cs): údaje o poštovním směrovacím čísle
Popis (cs): Zvláštními údaji pro doručování prostřednictvím poštovních služeb se rozumí údaje o poštovním směrovacím čísle, které přísluší danému územnímu prvku.</xs:documentation>
            </xs:annotation>
            <xs:sequence/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="zahraniční_adresa" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/89/2012/pojem/místo">
    <xs:annotation>
      <xs:documentation>Význam: https://slovník.gov.cz/legislativní/sbírka/89/2012/pojem/místo
Název (cs): Místo</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:sequence>
        <xs:element name="zahraniční_adresa" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/generický/umístění/pojem/lokalizační-popis">
          <xs:annotation>
            <xs:documentation>Význam: https://slovník.gov.cz/generický/umístění/pojem/lokalizační-popis
Název (cs): lokalizační popis</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="adresní_místo" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/89/2012/pojem/místo">
    <xs:annotation>
      <xs:documentation>Význam: https://slovník.gov.cz/legislativní/sbírka/89/2012/pojem/místo
Název (cs): Místo</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:sequence>
        <xs:sequence>
          <xs:element name="kód_adresního_místa" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/generický/adresy/pojem/kód-adresního-místa">
            <xs:annotation>
              <xs:documentation>Význam: https://slovník.gov.cz/generický/adresy/pojem/kód-adresního-místa
Název (cs): kód adresního místa</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="adresa_textem" sawsdl:modelReference="https://slovník.gov.cz/legislativní/sbírka/89/2012/pojem/místo">
    <xs:annotation>
      <xs:documentation>Význam: https://slovník.gov.cz/legislativní/sbírka/89/2012/pojem/místo
Název (cs): Místo</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:sequence>
        <xs:element name="třířádková_adresa_textem" type="xs:string" sawsdl:modelReference="https://slovník.gov.cz/generický/adresy/pojem/text-adresy">
          <xs:annotation>
            <xs:documentation>Význam: https://slovník.gov.cz/generický/adresy/pojem/text-adresy
Název (cs): text adresy
Popis (cs): Celá adresa jako jeden řetězec. Text se řídí Přílohou č. 1 k vyhlášce č. 359/2011 Sb., o základním registru územní identifikace, adres a nemovitostí. Tato vlastnost odpovídá vlastnosti fullAddress z ISA2 Core Location Vocabulary.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="místo">
    <xs:choice>
      <xs:element name="adresa_rúian" type="místa:adresa_rúian"/>
      <xs:element name="zahraniční_adresa" type="místa:zahraniční_adresa"/>
      <xs:element name="adresní_místo" type="místa:adresní_místo"/>
      <xs:element name="adresa_textem" type="místa:adresa_textem"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="místo" type="místa:místo"/>
</xs:schema>
