kontakty/draft/schémata/kontakt.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:kontakt="https://ofn.gov.cz/kontakty/" targetNamespace="https://ofn.gov.cz/kontakty/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="kontakt">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="email" type="xs:string" minOccurs="0"/>
			<xs:element name="idds" type="xs:string" minOccurs="0"/>
			<xs:element name="mobil" type="xs:string" minOccurs="0"/>
			<xs:element name="telefon" type="xs:string" minOccurs="0"/>
			<xs:element name="facebook" type="xs:string" minOccurs="0"/>
			<xs:element name="instagram" type="xs:string" minOccurs="0"/>
			<xs:element name="twitter" type="xs:string" minOccurs="0"/>
			<xs:element name="url" type="xs:anyURI" minOccurs="0"/>
			<xs:any namespace="##other" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="kontakt" type="kontakt:kontakt"/>
</xs:schema>
