základní-datové-typy/draft/schémata/základní-datové-typy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:základ="https://data.gov.cz/otevřené-formální-normy/základní-datové-typy/" 
	targetNamespace="https://data.gov.cz/otevřené-formální-normy/základní-datové-typy/" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified">
	<xs:complexType name="stát">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="iri" type="xs:anyURI" minOccurs="0"/>
			<xs:element name="název" type="xs:string" minOccurs="0"/>
			<xs:element name="kód" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>