úřední-desky/draft/schémata/adresa.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="adresa">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="1">
                <xs:element type="xs:string" name="budova" minOccurs="0"/>
                <xs:element type="xs:integer" name="cislo_domovni" minOccurs="0"/>
                <xs:element type="xs:integer" name="cislo_orientacni" minOccurs="0"/>
                <xs:element type="xs:string" name="email" minOccurs="0"/>
                <xs:element type="xs:integer" name="kod_adm" minOccurs="0"/>
                <xs:element type="xs:string" name="kod_casti_obce" minOccurs="0"/>
                <xs:element type="xs:string" name="kod_kraje" minOccurs="0"/>
                <xs:element type="xs:string" name="kod_obce" minOccurs="0"/>
                <xs:element type="xs:string" name="kod_okresu" minOccurs="0"/>
                <xs:element type="xs:integer" name="kod_ruian" minOccurs="0"/>
                <xs:element type="xs:string" name="mistnost" minOccurs="0"/>
                <xs:element type="xs:string" name="momc" minOccurs="0"/>
                <xs:element type="xs:string" name="mop" minOccurs="0"/>
                <xs:element type="xs:string" name="nazev_casti_obce" minOccurs="0"/>
                <xs:element type="xs:string" name="nazev_kraje" minOccurs="0"/>
                <xs:element type="xs:string" name="nazev_obce" minOccurs="0"/>
                <xs:element type="xs:string" name="nazev_okresu" minOccurs="0"/>
                <xs:element type="xs:string" name="nazev_ulice" minOccurs="0"/>
                <xs:element type="xs:string" name="patro" minOccurs="0"/>
                <xs:element type="xs:string" name="psc" minOccurs="0"/>
                <xs:element type="xs:string" name="text" minOccurs="0"/>
                <xs:element type="xs:string" name="typ_ruian" minOccurs="0"/>
                <xs:element type="xs:string" name="typ_so" minOccurs="0"/>
                <xs:element type="xs:string" name="url" minOccurs="0"/>
                <xs:element type="xs:string" name="znak_cisla_orientacniho" minOccurs="0"/>
                <xs:any namespace="##other" maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
