úřední-desky/draft/schémata/uredni-deska-20180406.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="adresa">
        <xs:sequence minOccurs="0">
            <xs:element type="xs:integer" name="kod_adm" minOccurs="0"/>
            <xs:element type="xs:integer" name="kod_ruian" minOccurs="0"/>
            <xs:element type="xs:string" name="typ_ruian" minOccurs="0"/>
            <xs:element type="xs:string" name="kod_obce" minOccurs="0"/>
            <xs:element type="xs:string" name="nazev_obce" minOccurs="0"/>
            <xs:element type="xs:string" name="momc" minOccurs="0"/>
            <xs:element type="xs:string" name="mop" minOccurs="0"/>
            <xs:element type="xs:string" name="kod_casti_obce" minOccurs="0"/>
            <xs:element type="xs:string" name="nazev_casti_obce" minOccurs="0"/>
            <xs:element type="xs:string" name="nazev_ulice" minOccurs="0"/>
            <xs:element type="xs:string" name="typ_so" minOccurs="0"/>
            <xs:element type="xs:integer" name="cislo_domovni" minOccurs="0"/>
            <xs:element type="xs:integer" name="cislo_orientacni" minOccurs="0"/>
            <xs:element type="xs:string" name="znak_cisla_orientacniho" minOccurs="0"/>
            <xs:element type="xs:string" name="psc" minOccurs="0"/>
            <xs:element type="xs:string" name="kod_okresu" minOccurs="0"/>
            <xs:element type="xs:string" name="nazev_okresu" minOccurs="0"/>
            <xs:element type="xs:string" name="kod_kraje" minOccurs="0"/>
            <xs:element type="xs:string" name="nazev_kraje" minOccurs="0"/>
            <xs:element type="xs:string" name="budova" minOccurs="0"/>
            <xs:element type="xs:string" name="mistnost" minOccurs="0"/>
            <xs:any namespace="##other" maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="dateOrDateTime">
        <xs:union memberTypes="xs:date xs:dateTime" />
    </xs:simpleType>
    <xs:element name="uredni_deska">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:element name="oznameni" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="id" minOccurs="0"/>
                            <xs:element name="organizace">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="nazev" minOccurs="0"/>
                                        <xs:element type="xs:string" name="ico" minOccurs="0"/>
                                        <xs:element name="adresa" minOccurs="0" type="adresa"/>
                                        <xs:any namespace="##other" maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="autor" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="nazev" minOccurs="0"/>
                                        <xs:element type="xs:int" name="ico" minOccurs="0"/>
                                        <xs:element name="adresa" minOccurs="0" type="adresa"/>
                                        <xs:any namespace="##other" maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="url" minOccurs="0"/>
                            <xs:element type="xs:string" name="nazev" />
                            <xs:element type="xs:string" name="anotace" minOccurs="0"/>
                            <xs:element type="dateOrDateTime" name="zverejneno_od" minOccurs="0"/>
                            <xs:element type="dateOrDateTime" name="zverejneno_do" minOccurs="0"/>
                            <xs:element type="dateOrDateTime" name="schvaleno" minOccurs="0"/>
                            <xs:element type="xs:string" name="identifikator" minOccurs="0"/>
                            <xs:element type="xs:string" name="znacka" minOccurs="0"/>
                            <xs:element type="xs:string" name="cislo_jednaci" minOccurs="0"/>
                            <xs:element type="xs:string" name="revize" minOccurs="0"/>
                            <xs:element type="xs:string" name="agenda" maxOccurs="unbounded" minOccurs="0"/>
                            <xs:element name="dokument" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence minOccurs="0">
                                        <xs:element type="xs:string" name="nazev" minOccurs="0"/>
                                        <xs:element type="xs:string" name="url" minOccurs="0"/>
                                        <xs:any namespace="##other" maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="subjekt" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence minOccurs="0">
                                        <xs:element type="xs:string" name="nazev" minOccurs="0" />
                                        <xs:element type="xs:string" name="ico" minOccurs="0" />
                                        <xs:element name="adresa" minOccurs="0" type="adresa"/>

                                        <xs:element type="xs:double" name="zemepisna_sirka" minOccurs="0"/>
                                        <xs:element type="xs:double" name="zemepisna_delka" minOccurs="0"/>
                                        <xs:any namespace="##other" maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
